@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');

$primary-color: #6A983C;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$secondary-color: #F5F5F5;
$dark-primary: #46760A;
$primary-font-color: #151515;

$light-color: white;
$dark-color: #1C1C1C;
$light-dark-color: #A9A9A9;
$navbar-color: #A9A9A9;
// $primary-gradient: linear-gradient(110.21deg, #2B61B5 16.61%, #07337E 85.25%);
// $primary-button-shadow: #1b9cee9e;
// $transparency: rgba(0, 0, 0, 0.12);
// $info-color: #2196f3;
// $primary-hover: #005a91;
$text-color: #2e2e2e;
$primary-text-color: #151515;
$text-grey: #A9A9A9;

//fonts
$title-font: "Poppins", serif;
$title-size: 2rem;
$sub-title-size: 1.3rem;
$primary-font: "Poppins", sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$card-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
$button-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
$border-radius: 8px;
$button-radius: 8px;
$standard-font-size: 16px;
$info-font-size: 14px;
$header-font-size: 18px;
$menu-font-size: 0.95rem;

//sizes
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;

//layout
$padding-val: 6.5vw;

$section-padding: 3.5vh 7.5vw;
$wrapper-val: 2.5vw;